<div class="edit-form">
    <h4>Groupe</h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name">Nom du groupe :</label>
            <input type="text" formControlName="nom" id="name" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="type">Type du groupe :</label>
            <input type="text" formControlName="type" id="type" name="type" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="photoUrl">Image du groupe :</label>
            <input type="text" formControlName="contact" id="photoUrl" name="photoUrl" class="form-control" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>