.page-container {
    display: flex;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 30px;
}

h2 {
    margin-top: 100px;
}