<div *ngIf="currentPost" class="edit-form">
    <h4>Tutorial</h4>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="currentPost.titre" name="title" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="currentPost.contenu" name="description" />
        </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deletePost()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updatePost()">
      Update
    </button>
    <p>{{ message }}</p>
</div>

<div *ngIf="!currentPost">
    <br />
    <p>Cannot access this Tutorial...</p>
</div>