<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="container">

            <h4>Modifier mon groupe</h4>
            <div *ngFor="let item of myArray">
                <form class="form">
                    <img [src]="currentGroupe.photoUrl" class="img-rounded" />
                    <div class="form-group ">
                        <label for="name ">Nom</label>
                        <input type="text " class="basic-slide " id="name " [(ngModel)]="item.nom " name="nom " />
                    </div>
                    <div class="form-group ">
                        <label for="Categorie ">Catégorie</label>
                        <input type="text " class="basic-slide " id="categorie " [(ngModel)]="item.type " name="categorie " />
                    </div>
                    <div class="form-group ">
                        <label for="photoUrl ">Image du groupe</label>
                        <input type="text " class="basic-slide " id="photoUrl " [(ngModel)]="item.photoUrl " name="photoUrl " />
                    </div>
                    <div class="form-group ">
                        <label for="createur ">Créateur</label>
                        <input type="text " class="basic-slide " id="createur " [(ngModel)]="item.idCreateur " name="createur " />
                    </div>

                    <button type="submit " class="btn btn-success " (click)="updateGroupe() " style="margin-right: 15px; ">Modifier</button>
                    <button class="btn btn-danger " (click)="deleteGroupe() ">Supprimer</button>
                    <p>{{ message }}</p>
                </form>
            </div>
        </div>
    </div>
</div>