<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <app-list-amis></app-list-amis>

        <div class="container flex">
            <div class="content">
                <div class="container">
                    <div *ngFor="let tabi of myArray">
                        <h2>Conversation de groupe {{tabi.nom}}</h2>
                        <div class="users-pane">
                            <mat-card class="users-card" *ngFor="let itemMembre of itemMembres">
                                <div *ngFor="let itemUser of itemUsers | async">
                                    <div *ngIf="itemUser.uid == itemMembre.uid">
                                        <div *ngIf="tabi.uidCreateur == itemMembre.uid">
                                            <span class="username">
                                        <img [src]="itemUser.photoUrl " class="rounded-circle " style="width: 50px; height: 50px; " /> 
                                        {{ itemUser.displayName }}
                                        <span class="iconify" data-icon="mdi-crown" data-inline="false"></span>
                                            </span>
                                        </div>
                                        <div *ngIf="tabi.uidCreateur != itemMembre.uid">
                                            <span class="username">
                                        <img [src]="itemUser.photoUrl " class="rounded-circle " style="width: 50px; height: 50px; margin-left: 15px; " /> 
                                        {{ itemUser.displayName }}
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <a [routerLink]="['\invite-user']" class="btn btn-light">Inviter un utilisateur</a>
                        <div class="chat-content">
                            <div *ngFor="let message of messages">
                                <div *ngFor="let itemUser of itemUsers | async">
                                    <div *ngIf="message.idConversation == this.id">
                                        <div *ngIf="itemUser.uid == message.uid">
                                            <div *ngIf="tabi.uidCreateur == message.uid">
                                                {{ itemUser.displayName }} <span class="iconify" data-icon="mdi-crown" data-inline="false"></span> : {{ message.message }}
                                                <div class="date"> {{ message.date }} </div>
                                            </div>
                                            <div *ngIf="tabi.uidCreateur != message.uid">
                                                {{ itemUser.displayName }} : {{ message.message }}
                                                <div class="date"> {{ message.date }} </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="sticky-footer">
                            <form class="formControl">
                                <input type="text" id="message" placeholder="Ecrire votre message ici" #message>
                                <input type="hidden" value="{{ this.currentDate | date:'dd/MM/yyyy, HH:mm:ss'}}" #date>
                                <button class="succes" (click)="saveMessage(message.value, date.value)">Envoyer</button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>