<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="page-container">
            <div class="container">
                <div *ngFor="let itemGroupe of itemGroupes | async">
                    <div *ngIf="itemGroupe.id == id">
                        <h1>Bienvenue sur le groupe <strong>{{itemGroupe.nom}}</strong></h1>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="\posts-groupe">Les publications du
                            groupe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['\add-post']">Ecrire une publication</a>
                    </li>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-membre-groupe']">Liste des membres</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-post-groupe']">Gérer les
                                            publications</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\list-doc-groupe']">Gérer les documents</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\groupe-update']">Modifier mon groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\statistiques-groupe']">Les statistiques de
                                            mon groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Administrateur'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['\quit']">Quitter le groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                <br />
                <div *ngFor="let itemGroupe of itemGroupes | async">
                    <div *ngIf="itemGroupe.id == id">
                        <h2>Les publications du groupe <strong>{{itemGroupe.nom}}</strong></h2>
                    </div>
                </div>
                <form class="form-inline my-2 my-lg-0" id="milieu">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher une publication" aria-label="Search" #recherche>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="rechercher(recherche.value)">Rechercher</button>
                </form>
                <br />
                <div *ngFor="let post of posts">
                    <div *ngIf="post.idGroupe == id">
                        <mat-card class="poste">
                            <mat-card-header>
                                <ng-container *ngFor="let itemUser of itemUsers | async">
                                    <div *ngIf="itemUser.uid == post.idCreateur">
                                        <div class="gauche" mat-card-avatar>
                                            <img src={{itemUser.photoUrl}} class="rounded-circle" width="50" height="50">
                                        </div>
                                        <div class="droite">
                                            <mat-card-title>
                                                <p>{{post.titre}} {{post.nbLikes}}</p>
                                                <p>{{post.nbLikes}}-{{post.nbDislikes}}</p>
                                            </mat-card-title>
                                            <div *ngIf="post.idCreateur == itemUser.uid">
                                                <mat-card-subtitle>Posted by {{ itemUser.displayName }}
                                                </mat-card-subtitle>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </mat-card-header>
                            <div class="photo" *ngFor="let file of itemDocuments | async">
                                <div *ngIf="file.id == post.idDocument">
                                    <img src="{{file.url}}" height="400px" />
                                </div>
                            </div>
                            <mat-card-content>
                                <div class="contenu">
                                    <p>{{post.contenu}}</p>
                                </div>
                            </mat-card-content>
                            <div class="date">
                                <p>{{post.date }}</p>
                            </div>
                            <div>
                                <input type="text" placeholder="Ecrire votre commentaire ici" #commentaire>
                                <button type="button" class="btn btn-success" (click)="saveCommentaire(commentaire.value, post.id)">Submit</button>
                            </div>
                            <div class="btn-toolbar">
                                <button  type="button" id="btnSubmit" class="btn btn-primary btn-sm" (click)="likeButtonClick(post.nbLikes, post.id)">Like</button>
                                <button  type="button" id="btnSubmit" class="btn btn-primary btn-sm" (click)="dislikeButtonClick(post.nbLikes, post.id)" style="background-color: red;border-color: red;">Dislike</button>
                                <button type="button" id="btnCancel" class="btn btn-primary btn-sm">Share</button>
                            </div>
                            <h3>Commentaires:</h3>
                            <div *ngFor="let itemUser of itemUsers | async">
                                <div *ngFor="let commentaire of commentaires">
                                    <div *ngIf="commentaire.idCrea == itemUser.uid">
                                        <div *ngIf="post.id == commentaire.idPost">
                                            <mat-card class="coms">
                                                <mat-card-title class="commstitre">{{ itemUser.displayName }}
                                                </mat-card-title>
                                                <mat-card-subtitle class="commsdate">{{ commentaire.date }}
                                                </mat-card-subtitle>
                                                <mat-card-content class="comms">{{ commentaire.contenu }}
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>