.poste {
    max-width: 600px;
}

.titre {
    margin-top: 10px;
    font-size: 25px;
}

.date {
    font-size: 12px;
    font-style: italic;
}

button {
    margin: 13px;
}

.commstitre {
    font-size: 13px;
}

.commsdate {
    font-size: 10px;
    font-style: italic;
}

.coms {
    margin-top: 8px;
}

.comms {
    font-size: 11px;
}

.gauche {
    float: left;
    margin-left: -30px;
}

.droite {
    display: inline-block;
    margin: 11px 1px 1px 13px;
    text-align: center;
}

.likes {
    margin-left: 10px;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

.photo {
    margin-left: 30px;
    background-size: cover;
    max-width: 500px;
    max-height: 500px;
}

input {
    height: 35px;
}

.content {
    float: left;
    height: 100%;
    width: 1200px;
    margin-right: -100px;
    border-right: 1px dashed #CCC;
    padding: 20px;
    vertical-align: middle;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: -900px;
    margin-left: 70px;
}