<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="page-container">
            <div class="container">
                <br />
                <h2>Les publications du groupe {{nom}}</h2>
                <br />
                <div *ngFor="let item of items | async">
                    <div *ngIf="item.idGroupe == nom">
                        <p>Titre :{{item.titre}}</p>
                        <p>Contenu: {{item.contenu}}</p>
                        <p>Créateur {{item.idCreateur}}</p>
                        <p>Nombre de likes: {{item.nbLikes}}</p>
                        <p>Nombre de vues: {{item.nbVues}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>