.poste {
    border: 2px solid;
    border-radius: 30px !important;
    border-color: black !important;
    margin-bottom: 10px;
}

.titre {
    margin-top: 10px;
    font-size: 25px;
    float: left;
}

.pseudo {
    clear: left;
}

.like {
    align-items: left;
}