<body>


    <div class="connexion">
        <div class="block">
            <div class="authentification">
                <h3>Inscription</h3>
                <div class="mail">
                    <p class="lead">
                        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
                    </p>
                </div>

                <div class="password">
                    <p class="lead">
                        <input type="password" class="formControl" placeholder="Password" #userPwd required>
                    </p>
                </div>

                <div class="button">
                    <input type="button" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)" routerLink="/home">
                </div>
            </div>

            <div class="redirectToLogin">
                <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
            </div>
        </div>
    </div>

</body>