<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="post.titre" name="title" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" required [(ngModel)]="post.contenu" name="description" />
        </div>

        <div class="form-group">
            <label for="title">Date</label>
            <input type="datetime" class="form-control" id="title" required [(ngModel)]="post.date" name="title" />
        </div>

        <div class="form-group">
            <label for="title">Créateur</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="post.idCreateur" name="title" />
        </div>

        <div class="form-group">
            <label for="title">Groupe</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="post.idGroupe" name="title" />
        </div>

        <button (click)="savePost()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted ">
        <h4>La groupe a été ajouté avec succès !</h4>
        <button class="btn btn-success " (click)="newPost() ">Add</button>
    </div>
</div>