<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="/fil-actualite" routerLinkActive="selected" class="list-item">
                All
            </a>
            <div *ngFor="let item of items | async; let i = index">
                <div class="row" *ngIf="authService.userData as user">
                    <div *ngIf="item.idCreateur == user.uid">
                        <button type="button" class="btn" id="btn-groupe"><img [src]="item.photoUrl" class="rounded-circle" style="width: 50px; height: 50px; margin-left: 15px;" /></button>
                    </div>
                </div>
            </div>
            <button routerLink="/add-groupe" type="button" class="btn">
                <span class="material-icons">
                    add_circle_outline
                    </span>
            </button>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>