<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="/fil-actualite" routerLinkActive="selected" class="list-item">
                All
            </a>
            <button routerLink="/add-groupe" type="button" class="btn">
                <span class="material-icons">
                    add_circle_outline
                    </span>
            </button>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>