<body>
<div class="connexion">
        <div class="block">
            <div class="authentification">
                <h3>Connexion</h3>
                <div class="mail">
                    <p class="lead">
                        <input type="text" class="formControl" placeholder="Username" #userName required>
                    </p>
                </div>

                <div class="password">
                    <p class="lead">
                        <input type="password" class="formControl" placeholder="Password" #userPassword required>
                    </p>
                </div>
                <!-- Calling SignIn Api from AuthService -->
                <div class="button">
                    <input type="button" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
                </div>

                <div class="forgotPassword">
                    <span class="forgot-password" routerLink="/forgot-password" >Forgot Password?</span>
                </div>
            </div>

            <div class="redirectToLogin">
                <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
            </div>
        </div>

</div>

</body>