<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="container">
            <div class="page-container">
                <div *ngFor="let itemGroupe of items | async">
                    <div *ngIf="itemGroupe.id == id">
                        <h1>Bienvenue sur le groupe <strong>{{itemGroupe.nom}}</strong></h1>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/groupe', this.id]">Les publications du
                        groupe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/groupe', this.id, '\add-post']">Ecrire une publication</a>
                    </li>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page">Liste des membres</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/groupe', this.id, '\list-post-groupe']">Gérer les
                                        publications</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/groupe', this.id, '\list-doc-groupe']">Gérer les documents</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                <div *ngFor="let itemMembre of itemMembres | async">
                    <div *ngIf="itemMembre.idGroupe == id">
                        <div *ngIf="itemMembre.uid == this.uid">
                            <div *ngIf="itemMembre.grade != 'Membre'">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['\groupe-update']">Modifier mon groupe</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            -->
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Membre'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/groupe', this.id, '\statistiques-groupe']">Les statistiques de
                                        mon groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let itemMembre of itemMembres | async">
                        <div *ngIf="itemMembre.idGroupe == id">
                            <div *ngIf="itemMembre.uid == this.uid">
                                <div *ngIf="itemMembre.grade != 'Administrateur'">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/groupe', this.id, '\quit']">Quitter le groupe</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                <div class="page-container">
                    <div class="list row">
                        <div class="list-item">
                            <div class="col-md-12">
                                <h4>Liste des membres</h4>
                                <nav class="navbar navbar-light bg-light">
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un membre" aria-label="Rechercher">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                                    </form>
                                </nav>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let membre of membres; let i = index" [class.active]="i == currentIndex" (click)="setActiveMembre(membre, i)">
                                        <div *ngIf="membre.idGroupe == this.id">
                                            <div *ngFor="let itemUser of itemUsers | async">
                                                <div *ngIf="membre.uid == itemUser.uid">
                                                    {{ itemUser.displayName }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="details">
                            <div class="col-md-12 ">
                                <div *ngIf="currentMembre">
                                    <app-list-membres-details (refreshList)="refreshList() " [membre]="currentMembre"></app-list-membres-details>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>