<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <app-list-amis></app-list-amis>

        <div class="container flex">
            <div class="content">
                <div class="container">
                    <h2>Mon profil</h2>
                    <div *ngFor="let user of users">
                        <img class="avatar" [src]="user.photoUrl" />
                        <div class="utilisateur">{{user.displayName}}</div>
                        <div class="listeningabo">
                            <h2>Mes abonnements: </h2>
                            <div *ngFor="let abonnement of abonnements">
                                <ul class="listeAbo">
                                    <div *ngFor="let itemUser of itemUsers | async">
                                        <div *ngIf="itemUser.uid == abonnement.uid">
                                            <li class="abo">
                                                <img src="{{itemUser.photoUrl}}" class="rounded-circle" style="width: 35px; height: 35px;"> {{ itemUser.displayName }}
                                                <a [routerLink]="['/profil-user', itemUser.uid]"><img class="profil" src="https://img.icons8.com/small/32/000000/parse-resumes.png" /></a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div *ngIf="abonnements.length == 0">
                                Vous n'avez aucun abonnement...
                            </div>
                        </div>
                        <div class="listeningabo">
                            <h2>Mes abonnés: </h2>
                            <div *ngFor="let abonn of abonne">
                                <ul class="listeAbo">
                                    <div *ngFor="let itemUser of itemUsers | async">
                                        <div *ngIf="itemUser.uid == abonn.uidAbonne">
                                            <li class="abo">
                                                <img src="{{itemUser.photoUrl}}" class="rounded-circle" style="width: 35px; height: 35px;"> {{ itemUser.displayName }}
                                                <a [routerLink]="['/profil-user', itemUser.uid]"><img class="profil" src="https://img.icons8.com/small/32/000000/parse-resumes.png" /></a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div *ngIf="abonne.length == 0">
                                Vous n'avez aucun abonné ...
                            </div>
                        </div>
                        <div class="publication">
                            <h2>Mes publications : </h2>
                            <div *ngFor="let postUser of postUsers">
                                <div *ngFor="let itemGroupe of itemGroupes | async">
                                    <div *ngIf="itemGroupe.id == postUser.idGroupe">
                                        <h3>{{ itemGroupe.nom }}</h3>
                                    </div>
                                </div>
                                <mat-card class="card">
                                    <mat-card-header>
                                        <mat-card-title>{{ postUser.titre }}</mat-card-title>
                                        <mat-card-subtitle>{{ postUser.date }}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="photo" *ngFor="let file of itemDocuments | async">
                                            <div *ngIf="file.id == postUser.idDocument">
                                                <img src="{{file.url}}" width="80%" />
                                            </div>
                                        </div>
                                        {{ postUser.contenu }}
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div *ngIf="postUsers.length == 0">
                                Vous n'avez pas posté de publications pour le moment...
                            </div>
                        </div>
                        <h2>Mes groupes: </h2>
                        <div class="listeGroupe" *ngFor="let membre of membres">
                            <div *ngFor="let itemGroupe of itemGroupes | async">
                                <div class="groupe" *ngIf="itemGroupe.id == membre.idGroupe">
                                    {{ itemGroupe.nom }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>