<div *ngIf="currentGroupe" class="edit-form">
    <h4>Rejoindre le groupe {{currentGroupe.nom}}</h4>
    <div *ngIf="this.estMembre == true">
        Vous êtes déjà membre de ce groupe...
    </div>
    <div *ngIf="this.estMembre == false">
        <div *ngIf="currentGroupe.visibility == 'Privé'">
            Ce groupe est privé, vous ne pouvez pas le rejoindre.
        </div>
        <div *ngIf="currentGroupe.visibility == 'Public'">
            <button type="submit" class="btn btn-success" (click)="saveMembre()">Rejoindre</button>
        </div>
    </div>
    <p>{{ this.message }}</p>
</div>