#login-h1 {
    text-align: center;
    font-size: 40px;
}

#login-h2 {
    margin-top: 25px;
    margin-left: 65px;
    font-size: 30px;
}

.form-container {
    margin: 1em auto;
    margin-left: 600px;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

input:hover,
select:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input:focus,
select:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6
}

label {
    padding: 0;
    margin-bottom: 0;
}

body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: #2ecc71;
    border: 3px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-left: 65px;
    padding: 1em 2em;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    transition-duration: 0.6s;
}

button:hover {
    color: #000000;
}