<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>

        <div class="submit-form">
            <div *ngIf="!submitted">
                <div class="form-group">
                    <label for="name">Nom du groupe :</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="groupe.name" name="name" placeholder="Ex: Entre amoureux des chats" />
                </div>

                <div class="form-group">
                    <label for="type">Type du groupe :</label>
                    <input class="form-control" id="type" required [(ngModel)]="groupe.type" name="type" placeholder="Ex: Animaux" />
                </div>

                <div class="form-group">
                    <label for="createur">Pseudo du créateur :</label>
                    <input class="form-control" id="createur" required [(ngModel)]="groupe.createur" name="createur" placeholder="Ex: Mme-Martin" />
                </div>

                <div class="form-group">
                    <label for="photoUrl">Image du groupe :</label>
                    <input class="form-control" id="photoUrl" required [(ngModel)]="groupe.photoUrl" name="photoUrl" placeholder="https://mon-image.com" />
                </div>

                <button (click)="saveGroupe()" class="btn btn-success">Créer mon groupe</button>
            </div>

            <div *ngIf="submitted">
                <h4>You submitted successfully!</h4>
                <button class="btn btn-success" (click)="newGroupe()">Add</button>
            </div>
        </div>
    </div>
</div>