<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <app-list-amis></app-list-amis>

        <div class="container flex">
            <div class="content">
                <div class="container">
                    <h2>Les résultats de ma recherche : {{ this.value }}</h2>
                    <form class="form-inline my-2 my-lg-0" id="milieu">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un membre ou une communautée" aria-label="Search" #recherche>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="rechercher(recherche.value)">Rechercher</button>
                    </form>
                    <div class="photo" *ngFor="let file of docNames">
                        <h3>Documents: </h3>
                        <img src="{{file.url}}" width="30%" />
                    </div>
                    <div *ngIf="docNames.length == 0">
                        <p>Aucun résultat n'a été trouvé pour votre recherche...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>