<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>
        <div class="container">
            <h2>Créer une conversation de groupe</h2>
            <form>
                <label>Entrer le nom de la conversation: </label>
                <input type="text" placeholder="Chat entre amis!" #nom>
                <button type="button" class="btn btn-success" (click)="saveGroupeChat(nom.value)">Créer</button> {{ this. message }}
            </form>
            <button type="button" class="btn btn-primary" routerLink="/mes-messages">Retour</button>
        </div>
    </div>
</div>