<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>

        <div class="page-container">
            <div class="item">
                <h4>Liste des Groupes</h4>
            </div>
            <div class="item">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of items | async; let i = index" [class.active]="i == currentIndex" (click)="setActiveGroupe(item, i)">
                        {{ item.nom }}<br/>
                        <span (click)="removeGroupe(item)" class="text-danger">Delete</span> &nbsp;
                        <span routerLink="/update-groupe/{{item.idGroupe}}" class="text-primary">Edit</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>