.page-container {
    display: flex;
    writing-mode: horizontal-tb;
    grid-template-columns: 100px 100px 100px;
    align-items: end;
    align-content: end;
    margin-left: 400px;
}

.item:first-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    align-self: start;
}

.btn {
    margin-left: 20px;
    border: 1px solid gray;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
    margin: 0;
}

p {
    font-size: 20px;
    margin-top: 50px;
    margin-left: -400px;
}