.poste {
    max-width: 600px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px, 10px 5px 5px #424549;
}

.titre {
    margin-top: 20px;
    font-size: 25px;
}

.nomGrp {
    text-align: center;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 25px;
}

.titrePage {
    text-align: center;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.date {
    font-size: 12px;
    font-style: italic;
}

.photoprofil {
    float: left;
}

button {
    margin: 13px;
}

.content {
    float: left;
    width: 1000px;
    height: 100%;
    border-right: 1px dashed #CCC;
    padding: 20px;
    vertical-align: middle;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: -900px;
}