<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>

        <div class="page-container">

            <div class="container">
                <div class="item">
                    <h1>La meilleure page d'accueil du monde o/</h1>
                </div>
                <div class="item">
                    <h2>Liste des dernières publications</h2>
                </div>
                <div *ngFor="let itemGroupe of itemGroupes">
                    <p><strong>{{itemGroupe.nom}}</strong></p>
                    <div *ngFor="let itemPost of itemPosts | async">
                        <div *ngIf="itemPost.idGroupe == itemGroupe.id">
                            <p>Titre :{{itemPost.titre}}</p>
                            <p>Contenu: {{itemPost.contenu}}</p>
                            <p>Créateur: </p>
                            <div *ngFor="let itemUser of itemUsers | async">
                                <div *ngIf="itemPost.idCreateur == itemUser.uid">
                                    {{itemUser.displayName}}
                                </div>
                            </div>
                            <p>Date de création: {{itemPost.date?.toDate() | date:'d/M/yyyy, HH:mm'}}</p>
                            <p>Nombre de likes: {{itemPost.nbLikes}}
                            </p>
                            <p>Nombre de Dislikes: {{itemPost.nbDislikes}}</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>