<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <app-left-menu></app-left-menu>

        <div class="page-container">

            <div class="container">
                <div class="item">
                    <p class="titrePage">Liste des dernières publications</p>
                </div>
                <div *ngFor="let itemGroupe of itemGroupes">
                    <div *ngFor="let itemPost of itemPosts">
                        <div *ngFor="let itemUser of itemUsers | async">
                            <div *ngIf="itemPost.idCreateur == itemUser.uid">
                                <div *ngIf="itemPost.idGroupe == itemGroupe.id">
                                    <p class="nomGrp"><strong>{{itemGroupe.nom}}</strong></p>
                                    <mat-card class="poste">
                                        <mat-card-header>
                                            <mat-card-title>
                                                <p class="titre">Titre :{{itemPost.titre}}</p>
                                            </mat-card-title>
                                            <mat-card-subtitle>
                                                <p>Créateur: {{itemUser.displayName}} </p>
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                        <div class="photo" *ngFor="let file of fileUploads">
                                            <div *ngIf="file.id == itemPost.idDocument">
                                                <img src="{{file.url}}" width="400" height="400" />
                                            </div>
                                        </div>
                                        <mat-card-content>
                                            <p>Contenu: {{itemPost.contenu}}</p>
                                        </mat-card-content>
                                        <p>Date de création: {{itemPost.date}}</p>
                                        <p>Nombre de likes: {{itemPost.nbLikes}}</p>
                                        <p>Nombre de Dislikes: {{itemPost.nbDislikes}}</p>
                                        <div>
                                            <input type="text" placeholder="Ecrire votre commentaire ici" #commentaire>
                                            <button type="button" class="btn btn-success" (click)="saveCommentaire(commentaire.value, itemPost.id, itemGroupe.id)">Submit</button>
                                        </div>
                                        <h3>Commentaires:</h3>
                                        <div *ngFor="let itemUser of itemUsers | async">
                                            <div *ngFor="let commentaire of commentaires">
                                                <div *ngIf="commentaire.idCrea == itemUser.uid">
                                                    <div *ngIf="itemPost.id == commentaire.idPost">
                                                        {{ itemUser.displayName }}: {{ commentaire.contenu }} // {{ commentaire.date }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>