<!-- Top navigation -->
<app-menu></app-menu>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <app-left-menu></app-left-menu>
        <div class="container">
            <h2>Le profil de </h2>
            <div *ngFor="let user of users">
                {{user.displayName}}
                <img [src]="user.photoUrl" />
                <form>
                    <button type="button" class="btn btn-light" (click)="ajoutAmis()">Ajouter en amis</button>
                    <button type="button" class="btn btn-light">S'abonner</button>
                </form>
                <h2>Les publications : </h2>
                <div *ngFor="let postUser of postUsers">
                    <div *ngFor="let itemGroupe of itemGroupes | async">
                        <div *ngIf="itemGroupe.id == postUser.idGroupe">
                            {{ itemGroupe.nom }}
                        </div>
                    </div>
                    <h3>Publication: </h3>
                    {{ postUser.titre }}
                    <div class="photo" *ngFor="let file of itemDocuments | async">
                        <div *ngIf="file.id == postUser.idDocument">
                            <img src="{{file.url}}" width="30%" />
                        </div>
                    </div>
                    {{ postUser.contenu }} {{ postUser.date }}
                </div>
                <h2>Les groupes: </h2>
                <div *ngFor="let membre of membres">
                    <div *ngFor="let itemGroupe of itemGroupes | async">
                        <div *ngIf="itemGroupe.id == membre.idGroupe">
                            {{ itemGroupe.nom }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>