<div id="container">
    <div id="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" id="gauche">
                        <a routerLink="/home" class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="gauche">
                        <a routerLink="/mes-groupes" class="nav-link" href="#">Mes Groupes</a>
                    </li>
                    <li class="nav-item" id="gauche">
                        <a routerLink="/mes-messages" class="nav-link" href="#">Mes Messages</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ecrire votre recherche ici..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
                <ul class="navbar-nav" id="droite">
                    <li class="nav-item dropdown">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <div class="btn-group" ngbDropdown role="group">
                                    <button class="btn btn-secondary" ngbDropdownToggle>Mon Compte</button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button class="dropdown-item">Gérer mon profil</button>
                                        <button class="dropdown-item">Liste d'amis</button>
                                        <button class="dropdown-item" (click)="logout()">Déconnexion</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<app-menu></app-menu>